.article {
  padding-top: 80px;
  margin-bottom: 120px;
}

.article__h1 {
  font-size: 48px;
  max-width: 596px;
}

.group {
  text-align: left;
  max-width: 744px;
}

.article__h2 {
  font-size: 36px;
}

.text-article:last-child {
  margin-bottom: 0;
}

.margin-bot {
  margin-bottom: 80px;
}

.article__decor {
  position: relative;
}

.article__decor::before {
  left: -350px;
  top: 100px;
}

.article__decor-bot {
  position: relative;
}

.article__decor-bot::before {
  right: -350px;
  bottom: 197px;
}

.article__ul {
  padding-left: 16px;
}

.article__li {
  margin-bottom: 12px;
}

.article__li::marker {
  font-size: 22px;
  color: #3596ed;
}

.article__button {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: #3596ed;
  border: none;
  padding: 0;
  -webkit-transition:
    opacity 0.2s,
    background-color 0.2s;
  transition:
    opacity 0.2s,
    background-color 0.2s;
}

.article__button:hover {
  opacity: 0.9;
}

.article__button:not(:disabled):active {
  background-color: #48aaff;
}

.article__img-play {
  width: 24px;
  height: 24px;
}

.article__section-video {
  margin-bottom: 40px;
  max-width: 100%;
}

@media (width<=992px) {
  .article__dedecor::before {
    display: none;
  }

  .article__decor-bot::before {
    display: none;
  }

  section {
    margin-bottom: 80px;
  }
}

@media (width<=768px) {
  .article {
    padding-top: 80px;
    margin-bottom: 120px;
  }

  .margin-bot {
    margin-bottom: 40px;
  }

  .article__h2 {
    font-size: 32px;
  }

  .article__decor-bot {
    height: 273px;
  }

  .article__video {
    height: 100%;
    padding-bottom: 15px;
  }
}

@media (width<=576px) {
  .article {
    padding-top: 60px;
    margin-bottom: 80px;
  }

  .article__h1 {
    margin-bottom: 40px;
  }

  .article__h2 {
    margin-bottom: 30px;
  }

  .article__h2 {
    font-size: 28px;
  }

  .article__button {
    width: 45px;
    height: 45px;
  }

  .article__img-play {
    width: 16px;
    height: 16px;
  }
}
