.article {
  padding-top: 80px;
  margin-bottom: 120px;
}

.title-article-h1 {
  font-size: 48px;
}

.group {
  max-width: 744px;
}

.title-article-h2 {
  font-size: 36px;
}

.text-article {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #535755;
}

.text-article:last-child {
  margin-bottom: 0;
}

.margin-bot {
  margin-bottom: 80px;
}

.img-decor {
  position: relative;
}

.img-decor::before {
  content: "";
  position: absolute;
  z-index: -1;
  background: url(../images/decor.svg);
  width: 528px;
  height: 48px;

  left: -350px;
  top: 100px;
}

.img-decor2 {
  position: relative;
}

.img-decor2::before {
  content: "";
  position: absolute;
  z-index: -1;
  background: url(../images/decor.svg);
  width: 528px;
  height: 48px;
  right: -350px;
  bottom: 197px;
}

.img1 .video {
  width: 100%;
}

.article-ul {
  padding-left: 16px;
}

.article-li {
  margin-bottom: 12px;
}

.article-li::marker {
  font-size: 22px;
  color: #3596ed;
}

.play {
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: #3596ed;
  border: none;
  padding: 0;
  transition:
    opacity 0.2s,
    background-color 0.2s;
}

.play:hover {
  opacity: 0.85;
}

.play:not(:disabled):active {
  background-color: #48aaff;
}

.playin {
  width: 24px;
  height: 24px;
}

.video {
  margin-bottom: 40px;
  max-width: 100%;
}
