html {
  font-family: Ubuntu, sans-serif;
  font-weight: 400;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 375px;
  min-height: 100vh;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.title {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 62px;
  line-height: 115%;
  text-transform: uppercase;
  color: #2c332f;
  margin-bottom: 40px;
}

.text-sub {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: right;
  color: #858e8a;
}

.text {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #535755;
}

.text-medium {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 115%;
  text-transform: uppercase;
  color: #2c332f;
}

.decor::before {
  position: absolute;
  z-index: -1;
  width: calc(40% - 100px);
  height: 48px;
  content: "";
  background: url(../images/decor.svg) repeat-x;
}

a:focus-visible,
.button:focus-visible,
summary:focus-visible {
  outline: 2px solid #3596ed;
  outline-offset: 1px;
}

button.button:not(:disabled):active {
  background-color: #2d84cf;
}

.button:disabled {
  opacity: 0.6;
  cursor: default;
}

@media (width <= 992px) {
  .container {
    max-width: 768px;
  }
}
