.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #d3cbd9;
}

.header__logo {
  display: block;
  width: 84px;
  height: 45px;
  line-height: 17px;
}

.header__logo-text {
  color: #2c332f;
  font-size: 22px;
}

.header__phone {
  text-align: right;
  display: inline-block;
}

.header__phone p {
  margin-bottom: 8px;
}

.header__phone a {
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.header__phone a:hover {
  color: #3596ed;
}

.header__phone-link {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #2c332f;
}
