.bonus {
  position: relative;
  overflow-x: clip;
  overflow-y: visible;
}

.bonus__container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  margin-bottom: 235px;
}

@media (width>1220px) {
  .bonus__container {
    margin-bottom: 235px;
  }
}

@media (width<=1220px) {
  .bonus__container {
    margin-bottom: 150px;
  }
}

@media (width<=992px) {
  .bonus__container {
    margin-bottom: 80px;
  }
}

.bonus__container::before,
.bonus__container::after {
  content: "";
  position: absolute;
  top: -50px;
  width: 350px;
  height: 350px;
  background: var(--bg-shadow);
  border-radius: 50%;
  filter: blur(80px);
  z-index: var(--layer-negative-2);
  pointer-events: none;
}

.bonus__container::before {
  left: -300px;
}

.bonus__container::after {
  right: -300px;
}

@media (width<=1220px) {
  .bonus__container::before,
  .bonus__container::after {
    top: -90px;
  }
}

@media (width<=992px) {
  .bonus__container::before,
  .bonus__container::after {
    top: -120px;
    width: 300px;
    height: 300px;
  }
}

@media (width<=576px) {
  .bonus__container::before,
  .bonus__container::after {
    top: -150px;
    width: 280px;
    height: 280px;
  }
}

.bonus::before,
.bonus::after {
  content: "";
  background-image: url(../../images/bonus-img-presents.png);
  position: absolute;

  top: -380px;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: var(--layer-negative);
}

.bonus::before {
  left: 0;
}

.bonus::after {
  right: 0;

  transform: scaleX(-1);
}

@media (width>1550px) {
  .bonus::before,
  .bonus::after {
    width: 759px;
    height: 1215px;
  }
}

@media (width<=1550px) {
  .bonus::before,
  .bonus::after {
    width: 506px;
    height: 810px;
    top: -300px;
  }
}

@media (width<=1220px) {
  .bonus::before,
  .bonus::after {
    width: 337px;
    height: 540px;
    top: -220px;
  }
}

@media (width<=992px) {
  .bonus::before,
  .bonus::after {
    width: 224px;
    height: 360px;
    top: -140px;
  }
}

@media (width<=576px) {
  .bonus::before,
  .bonus::after {
    width: 150px;
    height: 240px;
    top: -80px;
  }
}

.bonus__title-bg {
  position: absolute;
  top: -150px;
  background: linear-gradient(
    180deg,
    #4b5951 11.55%,
    rgba(61, 82, 70, 0.1) 69.07%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (width>1550px) {
  .bonus__title-bg {
    font-size: 200px;
  }
}

@media (width<=1550px) {
  .bonus__title-bg {
    font-size: 150px;
  }
}

@media (width<=1220px) {
  .bonus__title-bg {
    font-size: 130px;
    top: -120px;
  }
}

@media (width<=992px) {
  .bonus__title-bg {
    font-size: 100px;
    top: -100px;
  }
}

@media (width<=768px) {
  .bonus__title-bg {
    font-size: 80px;
    top: -80px;
  }
}

@media (width<=576px) {
  .bonus__title-bg {
    font-size: 60px;
    top: -60px;
  }
}

.bonus__title,
.bonus__text {
  text-align: center;
  max-width: 630px;
  margin-bottom: 40px;
}

@media (width<=992px) {
  .bonus__title,
  .bonus__text {
    max-width: 450px;
    margin-bottom: 20px;
  }
}

@media (width<=992px) {
  .bonus__title,
  .bonus__text {
    max-width: 320px;
  }
}

.bonus__buttons {
  display: flex;
  gap: 20px;
}
